*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h2,p{
    font-family: "Rubik", sans-serif;;
}


.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2%;
}

.icon{
    display: flex;
    width: 20%;
    justify-content: center;
}

.navlist {
    display: flex;
    width: 50%;
} 
ul{
    display: flex;
}
li{
    display: flex;
    padding-left: 15%;
    color: #7d8185;
    font-family: sans-serif;
}

/* section */
.section{
    display: flex;
    height: 300px;
    width: 100%;
    background-color: rgb(68, 58, 58);
    align-items: center;
    padding-left: 10%;
}

.section1 h1{
    font-size:60px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.section1 h4{
    color: white;
    
} 

/* main bar */

.containerbar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap:10px;
    padding: 10px;
}
.containerlist img{
    width: 100%;
    height: 350px;
}

.footer{
    width: 100%;
    background-color: black;
    padding: 1%;
}

.footer div{
    color: aliceblue;
    text-align: center;
}


@media screen and (max-width:1000px){
    .containerbar{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:700px){
    .containerbar{
        grid-template-columns: repeat(1,1fr);
    }
    .navlist{
        width: 100%;
        /* display: none; */
        padding: 0;
        margin: 0;
    }
}
